*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
}

/* container1 */
/* header */

header{
    width: 100%;
    height: 100px ;
    background-color: white;
    position: relative;
    margin-bottom: 50px;;
}  

#boole{
    width: 100px;
    height: 100px;
    display: inline-block;
   
}

#tobo{
    display: inline-block;
    vertical-align: auto;
} 

/* container2 */
#container2{
width: 800px;
height: 600px;
background-color: red;
margin: auto;
}

#border{
    border: 1px solid white;
    background-color: white;
    height: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    
}

#input{
    margin-left: 50px;
    margin-top: 20px;
    
}

#task{
    background-color: #14AAf5;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}
#section{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* main */

#contenuto_main{
    border: solid black;
    width: 500px;
    height: 500px;
    background-color: blue;
    margin: auto;
}
.tringle{
    display: inline-block;

}
.bold{
    display: inline-block;
}
#editorial{
    background-color: #14AAf5;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: white;
}

p{
    display: inline-block;
}
#editorial{
    display: inline-block;
}

#goals{
    background-color: #6314f5;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: white;
}

#mobile{
    background-color: #f57914;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: white;
}